.testimonio {
  display: block;
  margin-inline: auto;
  padding-inline: 5rem;
  padding-bottom: 2rem;
  color:$testimonio_text;
  
  &__title {
    text-align: center;
    padding-bottom: 0.5rem;
    padding-top: 3rem;
  }
  &__linea {
    margin-inline: 5rem;
  }
  &__caja {
    text-align: center;
    justify-items: center;
    &.parrafo {
      padding-inline: 1rem;
      padding-block: 1rem;
      font-style: italic;
    }
    &.imagen {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-fit: cover;
    }
    &.nombre {
      padding-block: 1rem;
    }
  }
//Responsividad en pantallas pequeñas
  @include md {
    display: flex;
  }
}